@media screen and  (max-width:700px) {
    .menu{
        background-color: rgb(207, 23, 112);
        position: absolute;
        width: 100%;
        height: 0;
        /* display: none; */
        transition: 200ms ease all;
        top: 60px;
        /* padding: 10px; */
    }
    .menu ul{
        display: none;
    }
    .menu ul li{
        float: none;
        line-height: 2;
   
    }
    .menu-btn{
        display: block;
    }
    .menu ul li a:hover{
        color: black;
    }




    /* homepage  */
    
    .homepage{
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .homepage .text_box{
        width: 100%;
    }

    .homepage .text_box  h2{
        font-size: 12vw;
    }
    .homepage .text_box  p{
        font-size: 4vw;
    }
    .homepage .img_box{
        width: 100%;
    }
    .btn{
        font-size: 4vw;
    }
    /* page  3  */
    .page3{
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .page3-text {
        width: 100%;
    }
    .page3-text  h2{
        font-size: 10vw;
        line-height: 1.5;
    }
    .page3-img{
        width: 50vw;
    }



    .page6{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .page3-box{
        width: 70vw;
    }
    .page6-txt h2{
        font-size: 6vw;
    }

    .page7{
        /* flex-wrap: wrap; */
        /* flex-direction: row; */
    }
    .page7-box{
        /* width: 70vw; */
        row-gap: 100px;
        /* margin: 10px; */
        margin-bottom: 10vw;
    }
    .page7-box h2{
        font-size: 9vw;
    }
    .page7-box h3{
        font-size: 10px;
    }


    .page8{
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }
    .page8-img{
        width: 90vw;
    }
    .page8-txt {
        width: 90vw;
    }
    .page8-txt h2{
        font-size: 9vw;
    }
    #page8{
        flex-wrap: wrap;
    }



}